body {
  background-color: #252525;
  font-family: sans-serif;
  margin: 1em 10em 0 10em;
  color: white;
}

.bbc {
  color: black;
  background-color: white;
  margin-right: 0.2em;
  font-size: 2em;
  font-weight: bold;
  padding: 0.1em 0.3em 0.1em 0.3em
}

h1 {
  color: #f54997;
  font-size: 1.5em;
  font-weight: lighter;
  margin-top: 1.5em;
}

li {
  list-style: none;
}

.a-to-z {
  display: inline-block;
}

.a-to-z button {
  text-transform: uppercase;
  text-align: center;
  background-color: #333;
  color: white;
  border: none;
  font-size: 0.9em;
  width: 4.3em;
  height: 2.8em;
  margin: 0.5em 0.25em 0 0.25em;
}

.a-to-z:last-child button {
  width: 9.1em;
}

.a-to-z button:hover {
  background-color: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.a-to-z button:focus {
  outline: 0;
}

.a-to-z .selected {
  background-color: #f54997;
}

.page-count:hover {
  cursor: pointer;
  text-decoration: underline;
}

.page-count {
  display: inline-block;
}
