body {
  background-color: #252525;
  font-family: sans-serif;
  margin: 1em 7em 0 7em;
  color: white;
}

.bbc {
  color: black;
  background-color: white;
  margin-right: 0.2em;
  font-size: 2em;
  font-weight: bold;
  padding: 0.1em 0.3em 0.1em 0.3em
}

h1 {
  color: #f54997;
  font-size: 1.5em;
  font-weight: lighter;
  margin-top: 1.5em;
}

li {
  list-style: none;
}

#a-to-z {
  display: inline-block;
}

#a-to-z li button {
  text-transform: uppercase;
  text-align: center;
  background-color: #333;
  color: white;
  border: none;
  font-size: 0.9em;
  width: 3em;
  height: 2em;
}

#page-count li:hover {
  cursor: pointer;
  text-decoration: underline;
}

#page-count {
  display: inline-block;
}
