body {
  background-color: rgb(250,250,250);
  font-family: sans-serif;
  margin: 50px;
}

li {
  list-style: none;
}

#a-to-z {
  text-transform: uppercase;
  display: inline-block;
}

#a-to-z li:hover, #page-count li:hover {
  cursor: pointer;
  text-decoration: underline;
}

#page-count {
  display: inline-block;
}
